<div class="container">
    <label>
        Username
        <input id="input-username" type="text">
    </label>
    <br />
    <label>
        Password
        <input  id="input-password" type="password">
    </label>
    <br />
    <button id="btn-login">Log in</button>
</div>