<div class="container">
    <label>
        Username
        <input id="input-username" type="text">
    </label>
    <br />
    <label>
        Password
        <input  id="input-password" type="password">
    </label>
    <br />
    <a class="btn btn-login" href="#/map">Log in</a>
    <a class="btn btn-" href="#/register">Register</a>
</div>