<div class="container">
    <form>
    <label>
        Full Name
        <input id="fullName" type="text">
    </label>
    <br />
    <label>
        Username
        <input id="username" type="text">
    </label>
    <br />
    <label>
        Email
        <input id="email" type="email">
    </label>
    <br />
    <label>
        Password
        <input  id="password" type="password">
    </label>
    <br />
     <label>
        Verify password
        <input  id="verify" type="password">
    </label>
    <br />
    <a class="btn" id="btn-register" href="#/map">Register</a>    
    </form>
</div>